.form {
    margin: 20px;
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
  }

  .hellomsg {
  text-align: center;
    font-family: fantasy;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    color: #1413138c;
    text-shadow: 2px 2px 5px goldenrod;
}

.msgbox{
    height: 10rem;
}

.send{
    text-align:  center;
}

.error-text{
  background-color: red;
  text-align: center;
  font-family: fantasy;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: #1413138c;
  text-shadow: 2px 2px 5px goldenrod;
}